.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   padding: 1rem;
   z-index: 1000;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #333;
    padding: 10px;
  }
  .btn:hover{
    color: rgb(84, 194, 238);
    background: cyan;
    box-shadow: 0 0 20px rgb(84, 194, 238), 0 0 80px rgb(84, 194, 238),
      0 0 160px rgb(84, 194, 238), 0 0 320px rgb(84, 194, 238);
    transition-delay: 1s;
  }
  .btn span {
    position: absolute;
    display: block;
  }
  h1{
    color: aqua;
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  .btn span {
    position: absolute;
    display: block;
  }
  .btn span:nth-child(1) {
    top: 0;
    transform: translateX(-115%);
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, cyan)
  }
  .btn:hover span:nth-child(1) {
    transform: translateX(100%);
    transition: 1s;
  }
  .btn span:nth-child(3) {
    bottom: 0;
    transform: translateX(100%);
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, cyan)
  }
  .btn:hover span:nth-child(3) {
    transform: translateX(-115%);
    transition: 1s 0.5s;
  }
  .btn span:nth-child(2) {
    right: 0;
    transform: translateY(-130%);
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent, cyan)
  }
  .btn:hover span:nth-child(2) {
    transform: translateY(100%);
    transition: 1s 0.25s;
  }
  .btn span:nth-child(4) {
    left: 0;
    transform: translateY(100%);
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg, transparent, cyan)
  }
  .btn:hover span:nth-child(4) {
    transform: translateY(-130%);
    transition: 1s 0.75s;
  }
  


  .navbar li {
    margin-right: 80px; 
  }
  .scrollable-section {
    margin-top: 50px;
    padding: 20px;
  }
  
  .steps-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #2f3e50;
  }
  
  .steps-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .step-item {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
  }
  
  .step-item h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .step-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .step-item p {
    font-size: 1rem;
    color: #666;
  }