body{
  background-image: url('../pictures/vecteezy_minimal-interior-modern-office-space-room-with-beige-cozy_23814065.jpeg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}